
.main-bg {
    background-color: #fff;
}

.main-gray-bg {
    background-color: #121314;
}
.common-btn {
    border-radius: 5rpx;
    background: #ffbe40;
    padding: 4px 16px;
    text-align: center;
    color: #000000cc;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    margin-right: 15px;
}

.common-btn-white {
    border-radius: 5rpx;
    background: #ffffff;
    padding: 4px 16px;
    text-align: center;
    color: #000000cc;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
}

.common-btn-bigger {
    border-radius: 5rpx;
    background: #ffbe40;
    padding: 10px 16px;
    text-align: center;
    color: #000000cc;
    font-size: 32rpx;
    font-style: normal;
    font-weight: 500;
}

.common-frame-main-white {
    background: #fff;
    box-shadow: 0 30px 90px rgba(0, 0, 0, .1);
    border-radius: 10px;
    border: 1px solid transparent;
}

.common-frame-main {
    background: #ffbe40;
    box-shadow: 0 30px 90px rgba(0, 0, 0, .1);
    border-radius: 10px;
    border: 1px solid transparent;
}

.common-line {
    width: 650rpx;
    height: 1rpx;
    background: #C5C5C5;
    opacity: 0.29;
}

.common-frame-block {
    background: #000;
    box-shadow:
            0 2px 2px rgba(255, 255, 255, 0.3),   /* 下边阴影 */
            0 -2px 2px rgba(255, 255, 255, 0.3),  /* 上边阴影 */
            2px 0 2px rgba(255, 255, 255, 0.3),   /* 右边阴影 */
            -2px 0 2px rgba(255, 255, 255, 0.3);  /* 左边阴影 */
    border-radius: 10px;
    border: 1px solid transparent;
}

.common-border-bottom {
    border-bottom: 1px solid grey;
}


.common-input-bg {
   background: #686868;
    border-radius: 5rpx;
}

.main-text-color {
    color: #212121;
}


.color-white {
    color: #fff;
}

.main-gray-text-color {
    color: #666;
}

.flex {
    display: flex;
    flex-direction: row;
}
.flex-wrap {
    flex-wrap: wrap;
}
.flex-column {
    flex-direction: column;
}
.items-center {
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-between {
    justify-content: space-between;
}

.text-right {
    text-align: right;
}

.justify-center {
    justify-content: center;
}

.font-bold {
    font-weight: bold;
}
.font-24 {
    font-size: 24rpx;
}

.font-28 {
    font-size: 28rpx;
}

.font-36 {
    font-size: 36rpx;
}

.icon-size-80 {
    width: 80rpx;
    height: 80rpx;
}

.icon-size-100 {
    width: 100rpx;
    height: 100rpx;
}


